/* Assigning variables here. Its done so cuz in case we change the colour, we dont have to go every single place where it is */
:root {
    --clr-primary: hsl(158, 36%, 37%);
    --clr-secondary: hsl(30, 38%, 92%);

    --clr-neutral-900: hsl(212, 21%, 14%);
    --clr-neutral-400: hsl(228, 12%, 48%);
    --clr-neutral-100: hsl(0, 0%, 100%);
    --clr-active: hsl(158, 42%, 18%);
    /*  numbering is a design token convention. Higher being darker */

    --ff-accent: 'Fraunces', serif;
    --ff-base: 'Montserrat', sans-serif;
    --fw-regular: 500;
    --fw-bold: 700;
}


/* CSS DEFAULT RESET */

/* An intuitive box-sizing model. This will ensure the inner box doesnt grow bigger than the outer box, giving weird look. * applies it everywhere. */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin. For example, the space between <p> will be set to 0. */
*:not(dialog) {
    margin: 0;
}

/* Enable keyword animations. This will automatically set the required size and animation when we need to select an option from a dropdown */
@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
  }
}

body {
    /* Increase line-height */
    line-height: 1.5;

    /* line-height of 1.5 may look good for paragraphs for it adds too much spacing for a heading, so another way to do it is 
        line-height: calc(1em + 0.5rem); 
    Instead of calculating the line height by multiplying the font-size with a number like 1.5, this alternative uses the font-size as a base, and adds a fixed amount of space to each line. */

    /* Improves text rendering, makes the text easier to read*/
    -webkit-font-smoothing: antialiased;
}

/* Improve media defaults */
img, picture, video, canvas, svg {

    display: block;

    /* This is done to prevent the media from overflowing incase the container isnt big enough to fit in. */
    max-width: 100%;
}

/* Inherit fonts for form controls. Inputs, textarea and buttons dont do it by default. */
input, button, textarea, select {
    font: inherit;
}

/* Avoid text overflows. breaks a really long word or url if it doesnt fit, instead of adding a horizontal scrollbar. */
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}


p {
/* Makes sure that the final line of text has atleast two words so it doesnt look bad */
    text-wrap: pretty;
}
/* The algorithm tries to make each line of text roughly the same length. */
h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

/* For further explanation, refer https://www.joshwcomeau.com/css/custom-css-reset/ */


/* CUSTOM STYLING */
body {
    font-family: var(--ff-base);
    font-weight: var(--fw-regular);
    font-size: 14px;
    color: var(--clr-neutral-400);
    background-color: var(--clr-secondary);

    display: grid;
    place-content: center;
    margin: 1rem;
}

.flex-group {
    display: flex;
    gap: 1rem;
    flex: wrap;
    align-items: center;
}
.product {
    background-color: var(--clr-neutral-100);
    border-radius: 0.5rem;
    overflow: hidden;
}

.product__content {
    display: grid;
    gap: 1rem;
    padding : 1.5rem;
}

.product__title {
    font-family: var(--ff-accent);
    color: var(--clr-neutral-900);
    line-height: 1          ;
}

.product__price {
    font-size: 2rem;
    font-family: var(--ff-accent);
    font-weight: 700;
    color: var(--clr-primary);
}

.button {
    cursor: pointer;
    text-decoration: none;
    color: var(--clr-neutral-100);
    background-color: var(--clr-primary);
    border: 0;
    border-radius: 0.5rem;
    padding: 1rem;
    font-weight: var(--fw-bold);

    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.button:is(:hover, :focus) {
    background-color: var(--clr-active);
}

.button[data-icon="shopping-cart"]::before {
    content: "";
    background-image: url("images/icon-cart.svg");
    width: 15px;
    height: 16px;
}