/* An intuitive box-sizing model. This will ensure the inner box doesnt grow bigger than the outer box, giving weird look. * applies it everywhere. */
*, *::before, *::after {
    box-sizing: border-box;
}

/* Remove default margin. For example, the space between <p> will be set to 0. */
*:not(dialog) {
    margin: 0;
}

/* Enable keyword animations. This will automatically set the required size and animation when we need to select an option from a dropdown */
@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
  }
}

body {
    /* Increase line-height */
    line-height: 1.5;

    /* line-height of 1.5 may look good for paragraphs for it adds too much spacing for a heading, so another way to do it is 
        line-height: calc(1em + 0.5rem); 
    Instead of calculating the line height by multiplying the font-size with a number like 1.5, this alternative uses the font-size as a base, and adds a fixed amount of space to each line. */

    /* Improve text rendering, makes the text easier to read*/
    -webkit-font-smoothing: antialiased;
}

/* Improve media defaults */
img, picture, video, canvas, svg {

    display: block;

    /* This is done to prevent the media from overflowing incase the container isnt big enough to fit in. */
    max-width: 100%;
}

/* Inherit fonts for form controls. Inputs, textarea and buttons dont do it by default. */
input, button, textarea, select {
    font: inherit;
}

/* Avoid text overflows. breaks a really long word or url if it doesnt fit, instead of adding a horizontal scrollbar. */
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

/* Improve line wrapping */
p {
/* Makes sure that the final line of text has atleast two words so it doesnt look bad */
    text-wrap: pretty;
}
/* The algorithm tries to make each line of text roughly the same length. */
h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

/* for further explanation, refer https://www.joshwcomeau.com/css/custom-css-reset/ */

p {
    font-family: 'Montserrat' ;
    color: hsl(228, 12%, 48%);
}

h1 {
    font-family: 'Fraunces';
    color: hsl(212, 21%, 14%);
}

footer {
    font-family: 'Montserrat' ;
    background-color: hsl(158, 36%, 37%);
    color: whitesmoke;
}

a {
    color: white;
}